In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import requests
import re
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from matplotlib import rcParams
import folium
from folium import Choropleth, Circle, Marker, Icon, Map
from folium.plugins import HeatMap, MarkerCluster
import pandas as pd
import os
import requests
import json
from dotenv import load_dotenv
from geopy import distance
import IPython

## London Dataframes

- 31 Great Pulteney St (51.5121948,-0.1360746)

In [2]:
#CSV Import: highval
airport_ldn_df_clean= pd.read_csv("../data/airport_ldn_df.csv")

In [3]:
airport_ldn_df_clean

,name,lat,lon,type,city,category
0,London Heathrow Airport (LHR),51.470012,-0.454478,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
1,London City Airport (LCY),51.503297,0.050112,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
2,Elstree Aerodrome,51.654044,-0.323953,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
3,Kenley Aerodrome,51.302516,-0.099422,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
4,Biggin Hill Airport (BQH),51.331889,0.028996,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
5,Sala VIP Heathrow,51.426550,-0.131691,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
6,Damyns Hall Aerodrome,51.531190,0.246276,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
7,Cargo Worldwide,51.523898,0.095290,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
8,Stapleford Flight Centre,51.656588,0.155572,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
9,Denham Aerodrome,51.591065,-0.512883,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports

In [4]:
#CSV Import: highval
basketball_ldn_df_clean= pd.read_csv("../data/basketball_ldn_df.csv")

In [5]:
basketball_ldn_df_clean

,name,lat,lon,type,city,category
0,Geraldine Mary Harmsworth Sports Facility,51.496187,-0.106748,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
1,Aske Gardens,51.528096,-0.083989,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
2,Q Motion Health & Fitness Centre,51.523206,-0.043008,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
3,Chinbrook Meadows,51.428723,0.028298,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
4,Kennington Park,51.482819,-0.107596,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
5,Leyton Jubilee Park,51.564646,-0.025511,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
6,Victoria Park,51.605484,-0.184854,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
7,Crystal Palace National Sports Centre,51.418907,-0.067866,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
8,Enfield Town Park,51.651648,-0.086295,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball
9,The Prince of Greenwich,51.476263,-0.009841,"{'typepoint': {'type': 'Point', 'coordinates':...",London,basketball

In [6]:
#CSV Import: highval
childcare_ldn_df_clean= pd.read_csv("../data/childcare_ldn_df.csv")

In [7]:
childcare_ldn_df_clean

,name,lat,lon,type,city,category
0,Brookhill Children's Centre,51.484853,0.066747,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
1,Alderwood Childrens Centre,51.449384,0.085953,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
2,Newham London Tuition Centre,51.537237,0.027185,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
3,Premier Lodge Day Nursery,51.427289,0.100880,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
4,Waterways Community Childrens Centre,51.501587,0.113661,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
5,Bright Horizons East India Dock Day Nursery,51.509069,-0.001825,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
6,Bright Horizons New Eltham Day Nursery and Pre...,51.436470,0.062079,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
7,Baby Sensory,51.553082,0.231919,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
8,Bright Horizons Blackheath Day Nursery and Pre...,51.458278,0.010933,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care
9,Zoom Nurseries,51.459091,0.009783,"{'typepoint': {'type': 'Point', 'coordinates':...",London,child care

In [8]:
#CSV Import: highval
music_ldn_df_clean= pd.read_csv("../data/music_ldn_df.csv")

In [9]:
music_ldn_df_clean

,name,lat,lon,type,city,category
0,Tramp,51.508255,-0.137820,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
1,Cirque le Soir,51.512910,-0.138930,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
2,Maddox Club,51.512702,-0.142262,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
3,Ministry of Sound,51.497637,-0.099503,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
4,Phonox,51.464317,-0.114536,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
5,Electrowerkz,51.532262,-0.105177,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
6,Fabric,51.519620,-0.102520,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
7,The Social,51.517359,-0.140988,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
8,Fold,51.519379,0.003826,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues
9,Tape London,51.514326,-0.144572,"{'typepoint': {'type': 'Point', 'coordinates':...",London,music venues

In [10]:
#CSV Import: highval
petgrooming_ldn_df_clean= pd.read_csv("../data/petgrooming_ldn_df.csv")

In [11]:
petgrooming_ldn_df_clean

,name,lat,lon,type,city,category
0,Wet paws dog grooming parlour,51.490143,0.126140,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
1,Celia Hammond Animal Trust,51.517926,0.012533,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
2,H & I's Grooming,51.458059,0.133845,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
3,Animal Ark Veterinary Centre,51.565823,0.110170,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
4,The Pet Grooming School,51.468002,0.069073,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
5,Barrier Animal Care Clinic,51.492611,0.039651,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
6,Animal Protection Shop,51.482343,0.145960,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
7,About Grooming Time,51.483140,0.151170,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
8,Bexleyheath Dog Grooming,51.478798,0.127427,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming
9,Animal Welfare 2000,51.487564,0.092368,"{'typepoint': {'type': 'Point', 'coordinates':...",London,pet grooming

In [12]:
#CSV Import: highval
starbucks_ldn_df_clean= pd.read_csv("../data/starbucks_ldn_df_3.csv")

In [13]:
starbucks_ldn_df_clean

,name,lat,lon,type,city,category
0,Starbucks,51.507386,-0.142561,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
1,Starbucks,51.514658,-0.150231,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
2,Starbucks,51.499068,-0.135253,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
3,Starbucks,51.512252,-0.121563,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
4,Starbucks,51.498155,-0.132786,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
5,Starbucks,51.516025,-0.144089,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
6,Starbucks,51.512688,-0.133203,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
7,Starbucks,51.515250,-0.135126,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
8,Starbucks,51.507373,-0.122973,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee
9,Starbucks,51.494357,-0.146995,"{'typepoint': {'type': 'Point', 'coordinates':...",London,coffee

In [14]:
#CSV Import: highval
vegan_ldn_df_clean= pd.read_csv("../data/vegan_ldn_df.csv")

In [15]:
vegan_ldn_df_clean

,name,lat,lon,type,city,category
0,Mildreds,51.513024,-0.136479,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
1,Black Cat,51.551292,-0.055470,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
2,What the Pitta,51.523478,-0.076177,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
3,222 Veggie Vegan,51.486001,-0.203059,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
4,Mildreds,51.531369,-0.117538,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
5,Purezza,51.538144,-0.144202,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
6,Farmacy,51.515491,-0.192777,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
7,The Gate Hammersmith,51.490254,-0.225387,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
8,Mildreds,51.545444,-0.074703,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
9,Mildreds Camden,51.540535,-0.145131,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants

In [16]:
ldn_api_df = pd.concat([airport_ldn_df_clean,basketball_ldn_df_clean,childcare_ldn_df_clean,music_ldn_df_clean,petgrooming_ldn_df_clean,starbucks_ldn_df_clean,vegan_ldn_df_clean], axis=0)
ldn_api_df

,name,lat,lon,type,city,category
0,London Heathrow Airport (LHR),51.470012,-0.454478,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
1,London City Airport (LCY),51.503297,0.050112,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
2,Elstree Aerodrome,51.654044,-0.323953,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
3,Kenley Aerodrome,51.302516,-0.099422,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
4,Biggin Hill Airport (BQH),51.331889,0.028996,"{'typepoint': {'type': 'Point', 'coordinates':...",London,airports
...,...,...,...,...,...,...
5,Purezza,51.538144,-0.144202,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
6,Farmacy,51.515491,-0.192777,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
7,The Gate Hammersmith,51.490254,-0.225387,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
8,Mildreds,51.545444,-0.074703,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants
9,Mildreds Camden,51.540535,-0.145131,"{'typepoint': {'type': 'Point', 'coordinates':...",London,vegan restaurants

In [17]:
ldn_api_df.shape

(70, 6)

In [43]:
def calc_distance_LDN_mean(x, site):
    #site_coords = (51.5121948,-0.1360746)
    place2_coords = (x.lat, x.lon)
    return (distance.geodesic(site, place2_coords).km)*1000

ldn_api_df["Distance"] = ldn_api_df.apply(lambda x: calc_distance_LDN_mean(x, (51.5121948,-0.1360746)), axis = 1).round(2)
ldn_api_df["Distance"].mean()

9987.957857142857

In [ ]:
ldn_api_df["Distance_office_1"] = ldn_api_df.apply(calc_distance_LDN((51.5121948,-0.1360746)), axis = 1).round(2)
ldn_api_df["Distance"].mean()

In [ ]:
ldn_api_df["Distance_office_2"] = ldn_api_df.apply(calc_distance_LDN(), axis = 1).round(2)
ldn_api_df["Distance_office_2"].mean()

In [ ]:
ldn_api_df

In [ ]:
desribe

In [ ]:
group by

In [ ]:
ls

In [ ]:
from IPython.display import display
display(filename='src/ldn_map_1.html')

## Barcelona Dataframes

- Carrer de Zamora, 67 (41.3943113,2.190921)

In [19]:
#CSV Import: highval
airport_bcn_df_clean= pd.read_csv("../data/airport_bcn_df.csv")

In [20]:
airport_bcn_df_clean

,name,lat,lon,type,city,category
0,Barcelona–El Prat Josep Tarradellas Airport (B...,41.289084,2.073963,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
1,Sabadell Airport (Aeroport de Sabadell),41.521142,2.103024,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
2,"Estacion del Capitolio, Panem",41.296123,2.075351,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
3,Newco Base Rampa,41.291094,2.078811,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
4,Pk 217 T1 Aeropuerto de Barcelona,41.291755,2.075308,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
5,KLM lounge,41.290260,2.075008,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
6,"Oficina transitos Vueling, zona a",41.290654,2.074304,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
7,Sala Tripulaciones VLG,41.291167,2.072467,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
8,Sala de control sate,41.288312,2.076681,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
9,Planta -1 de la T1,41.288614,2.074044,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports

In [21]:
#CSV Import: highval
basketball_bcn_df_clean= pd.read_csv("../data/basketball_bcn_df.csv")

In [22]:
basketball_bcn_df_clean

,name,lat,lon,type,city,category
0,Palau Sant Jordi,41.363271,2.152611,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
1,Pavelló Olímpic de Badalona,41.442346,2.232148,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
2,Pavelló Municipal de Cabrils,41.521748,2.369039,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
3,Club Basquet Granollers,41.616691,2.293679,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
4,Parque de la Infanta,41.360562,2.063817,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
5,Esportiu Claret,41.406447,2.166812,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
6,Poliesportiu Ripollet,41.500396,2.149372,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
7,Poliesportiu la Llana,41.501004,2.029792,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
8,Poliesportiu municipal,41.431310,2.215605,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball
9,Complex Esportiu Municipal Sant Quirze del Valles,41.537535,2.075410,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,basketball

In [23]:
#CSV Import: highval
childcare_bcn_df_clean= pd.read_csv("../data/childcare_bcn_df.csv")

In [24]:
childcare_bcn_df_clean

,name,lat,lon,type,city,category
0,Ludosfera Sll,41.398219,2.155636,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
1,EBM Xiroi,41.387858,2.132165,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
2,Escola Bressol Petits,41.393697,2.170025,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
3,"Sol Solet, Llar D'Infants",41.397884,2.180625,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
4,Llar d'Infants I-Beth,41.380198,2.148764,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
5,Escola Bressol Municipal Barrufets,41.408167,2.170923,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
6,Guardería Hamelin,41.393059,2.139467,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
7,Muksut of Poblenou,41.399533,2.196269,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
8,El Tricicle,41.374278,2.138011,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care
9,Xantala,41.402963,2.198044,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,child care

In [25]:
#CSV Import: highval
music_bcn_df_clean= pd.read_csv("../data/music_bcn_df.csv")

In [26]:
music_bcn_df_clean

,name,lat,lon,type,city,category
0,Antilla BCN Latin Club,41.384641,2.154478,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
1,Razzmatazz,41.397599,2.191102,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
2,Input,41.368636,2.148770,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
3,Cdlc,41.384976,2.196300,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
4,La Terrrazza,41.368845,2.149262,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
5,Garage 442,41.397175,2.160680,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
6,Opium,41.385104,2.196826,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
7,Undead Dark Club,41.379763,2.133411,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
8,Moog,41.378149,2.174909,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues
9,Carpe Diem,41.389427,2.163662,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,music venues

In [27]:
#CSV Import: highval
petgrooming_bcn_df_clean= pd.read_csv("../data/petgrooming_bcn_df.csv")

In [28]:
petgrooming_bcn_df_clean

,name,lat,lon,type,city,category
0,Kiwoko. Mundo Animal,41.386723,2.161102,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,pet grooming
1,Centro Profesional Animal,41.386733,2.161261,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,pet grooming
2,Fundacion Altarriba Amigos de los Animales,41.389956,2.170577,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,pet grooming
3,Ceva Salud Animal,41.395276,2.155801,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,pet grooming
4,Animalear.com,41.398508,2.163766,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,pet grooming

In [29]:
#CSV Import: highval
starbucks_bcn_df_clean= pd.read_csv("../data/starbucks_bcn_df.csv")

In [30]:
starbucks_bcn_df_clean

,name,lat,lon,type,city,category
0,Starbucks,41.390814,2.165062,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
1,Starbucks,41.385779,2.167932,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
2,Starbucks,41.385204,2.163273,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
3,Starbucks,41.387848,2.169634,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
4,Starbucks,41.381816,2.172250,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
5,Starbucks,41.376510,2.150584,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
6,Starbucks,41.385244,2.177226,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
7,Starbucks,41.374891,2.182597,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
8,Starbucks,41.395158,2.158227,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee
9,Starbucks,41.392904,2.165519,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,coffee

In [31]:
#CSV Import: highval
vegan_bcn_df_clean= pd.read_csv("../data/vegan_bcn_df.csv")

In [32]:
vegan_bcn_df_clean

,name,lat,lon,type,city,category
0,A Tu Bola,41.380092,2.168815,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
1,Maoz Vegetarian,41.380911,2.174652,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
2,Quinoa Bar Vegetarià,41.402766,2.159899,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
3,La Papa,41.389798,2.157615,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
4,Teresa Carles,41.385039,2.167858,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
5,Menssana,41.390787,2.190208,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
6,La Cerería,41.381564,2.176641,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
7,Federal,41.378062,2.177878,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
8,Flax & Kale,41.385204,2.165382,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
9,Green Spot,41.381781,2.183982,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants

In [33]:
bcn_api_df = pd.concat([airport_bcn_df_clean,basketball_bcn_df_clean,childcare_bcn_df_clean,music_bcn_df_clean,petgrooming_bcn_df_clean,starbucks_bcn_df_clean,vegan_bcn_df_clean], axis=0)
bcn_api_df

,name,lat,lon,type,city,category
0,Barcelona–El Prat Josep Tarradellas Airport (B...,41.289084,2.073963,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
1,Sabadell Airport (Aeroport de Sabadell),41.521142,2.103024,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
2,"Estacion del Capitolio, Panem",41.296123,2.075351,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
3,Newco Base Rampa,41.291094,2.078811,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
4,Pk 217 T1 Aeropuerto de Barcelona,41.291755,2.075308,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports
...,...,...,...,...,...,...
5,Menssana,41.390787,2.190208,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
6,La Cerería,41.381564,2.176641,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
7,Federal,41.378062,2.177878,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
8,Flax & Kale,41.385204,2.165382,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants
9,Green Spot,41.381781,2.183982,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants

In [34]:
def calc_distance_BCN(x):
    site_coords = (41.3943113,2.190921)
    place2_coords = (x.lat, x.lon)
    return (distance.geodesic(site_coords, place2_coords).km)*1000

bcn_api_df["Distance"] = bcn_api_df.apply(calc_distance_BCN, axis = 1).round(2)

In [35]:
def calc_distance_BCN_mean(x, site):
    #site_coords = (51.5121948,-0.1360746)
    place2_coords = (x.lat, x.lon)
    return (distance.geodesic(site, place2_coords).km)*1000

ldn_api_df["Distance"] = ldn_api_df.apply(lambda x: calc_distance_LDN_mean(x, (51.5121948,-0.1360746)), axis = 1).round(2)
ldn_api_df["Distance"].mean()

TypeError: calc_distance_BCN_mean() missing 1 required positional argument: 'site'

In [36]:
bcn_api_df

,name,lat,lon,type,city,category,Distance
0,Barcelona–El Prat Josep Tarradellas Airport (B...,41.289084,2.073963,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports,15244.89
1,Sabadell Airport (Aeroport de Sabadell),41.521142,2.103024,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports,15885.59
2,"Estacion del Capitolio, Panem",41.296123,2.075351,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports,14576.51
3,Newco Base Rampa,41.291094,2.078811,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports,14814.06
4,Pk 217 T1 Aeropuerto de Barcelona,41.291755,2.075308,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,airports,14945.43
...,...,...,...,...,...,...,...
5,Menssana,41.390787,2.190208,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants,395.93
6,La Cerería,41.381564,2.176641,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants,1852.25
7,Federal,41.378062,2.177878,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants,2108.79
8,Flax & Kale,41.385204,2.165382,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants,2363.40
9,Green Spot,41.381781,2.183982,"{'typepoint': {'type': 'Point', 'coordinates':...",Barcelona,vegan restaurants,1507.81

## Berlin Distances

- 31 Tucholskystraße (52.5261578,13.3910562)

In [ ]:
#CSV Import: highval
airport_bln_df_clean= pd.read_csv("../data/airport_bln_df.csv")

In [ ]:
#CSV Import: highval
basketball_bln_df_clean= pd.read_csv("../data/basketball_bln_df.csv")

In [ ]:
#CSV Import: highval
childcare_bln_df_clean= pd.read_csv("../data/childcare_bln_df.csv")

In [ ]:
childcare_bln_df_clean

In [ ]:
#CSV Import: highval
music_bln_df_clean= pd.read_csv("../data/music_bln_df.csv")

In [ ]:
#CSV Import: highval
petgrooming_bln_df_clean= pd.read_csv("../data/petgrooming_bln_df.csv")

In [ ]:
#CSV Import: highval
starbucks_bln_df_clean= pd.read_csv("../data/starbucks_bln_df.csv")

In [ ]:
#CSV Import: highval
vegan_bln_df_clean= pd.read_csv("../data/vegan_bln_df.csv")

In [ ]:
bln_api_df = pd.concat([airport_bln_df_clean,basketball_bln_df_clean,childcare_bln_df_clean,music_bln_df_clean,petgrooming_bln_df_clean,starbucks_bln_df_clean,vegan_bln_df_clean], axis=0)
bln_api_df

In [ ]:
def calc_distance_BLN(x):
    site_coords = (52.5261578,13.3910562)
    place2_coords = (x.lat, x.lon)
    return (distance.geodesic(site_coords, place2_coords).km)*1000

bln_api_df["Distance"] = bln_api_df.apply(calc_distance_BLN, axis = 1).round(2)

In [ ]:
bln_api_df